body {
        background: #fff;
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        margin: 0;
        padding: 0;
        unicode-bidi: embed;
    }
header{
    background-color: #0046af;
}
.bosh{
    display: flex;
    gap: 10px;
}
.bosh h1{
    font-size: 70px;
    color: white;
    margin-left: 150px;
    margin-top: 60px;
}
.bosh button{
    color: white;
    background-color: green;
    border: none;
    margin-top: 100px;
    height: 30px;
}
p{
    text-align: center;
}
a{
    text-decoration: none;
    color: darkblue;
}
fieldset{
    border: 1px solid #dddfe2;
    width: 600px;
    background-color: white;
    height: 300px;
}
.face{
    margin-left: 525px;
    position: relative;
    left: -70px;
    height: 600px;
    margin-top: 80px;
}
fieldset input{
    border: 1px solid rgb(219, 219, 219);
    background-color: white;
    margin: 2px;
    outline: none;
    margin-left: 160px;
    width: 280px;
    height: 30px;
    border-radius: 2px;
}
fieldset button{
    color: white;
    border: none;
    background-color: darkblue;
    margin-top: 10px;
    margin-left: 160px;
    width: 285px;
    height:30px; 
    border-radius: 7px;
}
fieldset h1{
    text-align: center;
}
footer ul{
    color: grey;
    margin-left: 20px;
    position: relative;
    top: 710px;
    list-style: none;
    text-align: center;
    display: flex;
    gap: 20px;
}