
fieldset{
    border: 1px solid rgb(219, 219, 219);
    width: 400px;
}
.room{
   margin-left: 600px;
    position: relative;
    left: -70px;
    height: 680px;
    margin-top: 80px;
}
.room input{
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(247, 245, 245);
    margin: 5px;
    outline: none;
    margin-left: 60px;
    width: 280px;
    height: 30px;
    border-radius: 7px;
}
.red{
    color: black;
    margin-left: 135px;
    text-decoration: none;
}
.rde{
    margin: 30px;
    margin-left: 300px;
    font-size: 20px;
    text-align: left;
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Satisfy', cursive;
}
img{
    text-align: center;
}
.room button{
    color: white;
    border: none;
    background-color: #68e1ff;
    margin-top: 10px;
    margin-left: 60px;
    width: 285px;
    height:30px; 
    border-radius: 7px;
}
.rok{
    margin-top: 5px;
    margin-left: 115px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
footer{
    text-align: center;
}
footer ul{
    color: grey;
    margin-left: 20px;
    position: relative;
    list-style: none;
    text-align: center;
    display: flex;
    gap: 20px;
}
.select{
    
    position: relative;
    margin-left: 600px;
    display: flex;
}
select{
    color: grey;
    top: 15px;
    position: relative;
    height: 20px;
}
.select p{
    color: grey;
    margin-left: 15px;
}
p{
    text-align: center;
}

fieldset h1{
    text-align: center;
}
.room-1{
    margin-left: 600px;
    position: relative;
    left: -70px;
}
a{
    text-align: center;
    text-decoration: none;
}
